/make_stamps
core*
node_modules
tmp
/bits
/build
docs/*.json
docs/*.html
cscope.in.out
cscope.po.out
cscope.out
cscope.files
*.log
logfile
.coverage_data
cover_html
*.tar.gz
smf/manifests/*.xml
sapi_manifests/registrar/template
sdc/sapi_manifests/registrar/template
